/*
Written by Austin Ayers
*/
body {
	background: url('../Background.jpg');
}
p {
	text-align: center;
	color: white;
}

/* Styling the 3 columns to hold subsequent webpages */
.three-cols {
	float: left;
	width: 27%;
	padding: 10px;
	margin: 20px;
	height 250px;
}
/* Setting up each box in the three column layout */
.box-one {
	background-color: white;
	color: gray;
}
.box-two {
	background-color: gray;
}
.box-three {
	background-color: white;
	color: gray;
}

#TitleName {
	color: white;
	text-align: center;
	border: 2px solid white;
	border-radius: 5px 20px;
}