/*
Written by Austin Ayers
*/

.top-components {
	display: flex;
	width: 100%;
}

.card-basic {
    width: 48%;
	margin-bottom: var(--sl-spacing-2x-small);
}

.details-group-example {
	width: 48%;
}

.details-group-example sl-details:not(:last-of-type) {
    margin-bottom: var(--sl-spacing-2x-small);
}

.headshot-and-pitch {
	float: right;
}