hr {
	height: 3px;
	background-color: #f2f2f2;
	margin: 3px;
}

.box-frame {
	height: 85%;
	width: 90%;
	position: relative;
	display: flex;
	border-radius: 5px;
	border-color: #f2f2f2;
	margin: 5%;
	z-index: 2;
}

div[class*=bubble-] {
	border: 3px solid;
	padding: 3px;
	border-color: #f2f2f2;
	border-radius: 3%;
	justify-content: center;
	overflow: scroll;
}

div[class*=bubble-]::-webkit-scrollbar {
	display: none;
}

[class*=link-] {
	text-decoration: none;
	color: inherit;
}

[class*=link-]:hover {
	color: #00BFFF;
}

.list-links {
	margin: 5%;
	list-style-type: none;
}

.primary-info {
	height: 96%;
	width: 20%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.name-title-content {
	margin: clamp(2%, 10%, 15%);
}

.bubble-name-title {
	height: 40%;
	align-items: center;
}

.bubble-links {
	height: auto;
	text-align: center;
	margin: 5%;
}

.auxillary-info {
	height: 96%;
	width: 70%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	flex-flow: row;
}

.bubble-work-experience {
	width: 65%;
	max-height: 45%;
	margin-right: 5%;
	margin-bottom: 5%;
	float: left;
}

[class*="work-"] {
	padding: 3px;
}

.work-content {
	margin-left: 5%;
}

.bubble-education {
	width: 25%;
	max-height: 45%;
	margin-right: 5%;
	margin-bottom: 5%;
	float: left;
}

[class*="education-"] {
	padding: 3px;
}

.education-content {
	margin-left: 5%;
}

.bubble-projects-skills {
	width: 65%;
	max-height: 45%;
	margin-right: 5%;
	float: left;
}

[class*="projects-"] {
	padding: 3px;
}

.projects-content {
	margin-left: 5%;
}

.skills {
	color: orange;
}

.bubble-on-deck {
	width: 25%;
	margin-bottom: 5%;
	float: left;
}

[class*="on-deck-"] {
	padding: 3px;
}

.on-deck-content {
	margin-left: 5%;
}

.bubble-offline {
	width: 25%;
	float: left;
}

[class*="offline-"] {
	padding: 3px;
}